name: API Testing Framework

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
  schedule:
    #- cron: '0 3 * * *'     # Daily at 2 AM UTC
    #- cron: '0 3 * * 6'  # Monday and Thursday at 2 PM UTC
jobs:
  build:

    runs-on: ubuntu-latest
    permissions:
      contents: read
      checks: write
      issues: write

    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven
        
    - name: Execute Tests
      run: mvn clean test -DsuiteXmlFile=suite -X

    - name: Upload a Build Artifact
      if: always()
      uses: actions/upload-artifact@v4.5.0
      with:
        name: Logs
        path: logs/
